.title {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 38px;
    color: #03023C;
    font-weight: normal;
    margin: 25px 0;
}
.bgc {
    background-color: #DFF0FF;
    border-top: 1px solid #1CA8F8;
    border-bottom: 1px solid #1CA8F8;
    padding: 15px;
}
.create_form {
    background-color: #fff;
    padding: 30px 83px;
    max-width: 1030px;
    margin: 0 auto;
    border-radius: 24px;
}
.comment {
    display: block;
    width: 100%;
    min-height: 160px;
    border: 1px solid #1CA8F8;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 50px;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.comment::placeholder {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: rgba(3, 2, 60, .6);
}