.doneArchive {
  margin-bottom: 94px;
}
.title {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-size: 38px;
  color: #03023c;
  font-weight: normal;
  margin: 25px 0;
}
.wrap {
  background-color: #dff0ff;
  padding: 30px;
  border-top: 1px solid #1ca8f8;
  border-bottom: 1px solid #1ca8f8;
  min-height: 80%;
}
